	
*,*::before,*::after{
  box-sizing: border-box;

}


body{
	font-family: "Nunito","Roboto";
	padding: 0;
    margin:0;
     overflow-x: hidden; /* Hide horizontal scrollbar */
}

.headerr {
	background: yellow;

}
.headerr:before {
  content: "";
  position: fixed;
  top: calc(50% - 1000px);
  left: 0;
  width: 500px;
  height:2000px;
  background: #000;
  transform: skew(35deg);
  transform-origin:top;
}
.header{

    
    width: 100%;
	position:relative;
	display: flex;
	-webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
	-ms-transform: translate(100px,0px);
	margin-bottom:5px;
	
	}
.content{
	width: calc(50%);
	height: 100%;
	background:#fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	
}

.image-box{
	width: calc(50%);
	height: 100%;
	background:#212529;
	box-sizing: border-box;
	

}

.image-box>img {

transform: translateX(-12em);
	
}

.hiw{

}

nav{

	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav >ul{
	display: flex;
	margin-top: 1.5rem;
}
.list-no-style{
	list-style: none;
}
.nav-items li {
	list-style: none;
	margin-right: 30px
}
.nav-items Link{
	display: flex;
	justify-content: end;
}
.nav-items li a{
	text-decoration: none;
	

}

.navhome  {
	text-decoration: none;
	font-size: 24px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: 43px;
	
	color: #151D26;
}
.navabout {
text-decoration: none;
	font-size: 24px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: 43px;
	
	color: #151D26;
}
.navcontact{
text-decoration: none;
	font-size: 24px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: 43px;
	
	color: #151D26;
}
.navfag{
text-decoration: none;
	font-size: 24px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: 43px;
	
	color: #151D26;
}
.partner-signin {
	/*margin-right: 0px;*/
	background-color: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 5px;
	}
.customer-signin{
	background-color: #151d26;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	
}
.logo {
	
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	/* identical to box height */

	text-align: center;

	color: #151D26;

}
.body-header{
	display: flex;
}

.fuel-pump  {
	margin-right: 0px;
	align-items:right;
	justify-content: space-around;
	
}

.rect2{
	
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 19.3188px;
	line-height: 26px;
	text-transform: uppercase;

	color: #151D26;

}
.rect3{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 109px;
	text-transform: uppercase;

	color: #151D26;
}

.order-button-div a:hover{
	
	text-decoration: none;
	color: #151D26;

}


.rect1 > div {
	
}


.fuel-pump  {
	margin-right: 0px;
	align-items:right;
	justify-content: space-around;
	
}


 .getfueltxt {
	width: 100%;
	height: auto;
	font-family: nunito;
	font-style: normal;
	line-height: 26px;
	text-transform: uppercase;
	color: #151D26
}
.confidencetxt{
	
	margin-left: 22px;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 109px;
	text-transform: uppercase;

	color: #151D26;
}
.row1top{
	margin-top: 61px;
}
.buynow {
	width: 10em;
	padding: 10px 10px;
	background: #Fff;
	box-shadow: 0px 4.20968px 26.3105px rgba(0, 0, 0, 0.1);
	border-radius: 21.0484px;
	align-content: center;
	text-decoration-color:#151D26;;
	text-transform: uppercase;
	text-align: center;
	margin-left: 1em;
	font-size: 21px;
	color:  #151D26;


}


}
.buynowFooter {

	padding: 10px 10px;
	background: #212529;
	box-shadow: 0px 4.20968px 26.3105px rgba(0, 0, 0, 0.1);
	border-radius: 21.0484px;
	align-content: center;
	color: #fff;
	text-transform: uppercase;

	}
.bn a{
	text-decoration: none;
	color: red;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 21.0484px;
	line-height: 29px;
	text-transform: uppercase;

	color: #151D26;

}


.bgseethrough{
	background-color: rgba(255,255,255,0.85);
}

.first-square{
	margin-left: 92px;
}
.how-it-works-body{
	display: flex;
	align-items:flex-end; ;
	justify-content: space-around;
	align-content: center;
	

}

.square-holder{
	display: flex;
	align-items:flex-end; ;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}
.square {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-around;
	  width: 15rem;
	  height: 15rem;
	  text-align: center;
	  align-items: center;
	  align-content: center;
	  margin:2em;

  box-shadow: 0px 4px 10px rgba(45, 156, 219, 0.15);
}


.square img{
	
}
.square p{
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;

	color: #151D26;
}
.how-it-works-rect{
margin-top: 10px;
	
}

.our-partners{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

 .our-partners  img {
	
	transform: scale(0.6);

}

.our-partners a{
	 color: #151D26;;
	text-decoration: none;
	padding: 0.5em 1em;
	background: #FFFFFF;
	box-shadow: 0px 4.65727px 25px rgba(45, 156, 219, 0.15);
	border-radius: 23.2863px;
	height: 3em;
	margin-top: 0.5em;
}
footer{
	width: 1152px;
	height: 321px;
	left: 0px;
	top: 2294px;

	background: #151D26;
}
footer .footer-style{
	display: flex;
	justify-content: space-around;
	color: #ffffff;
	margin-top: 200px;
}

.social-div{
	display: flex;

}
.social-div img{
	padding: 5px;

}
.haykpo{
	margin-top: 31px;
}
.footer-product{
	margin-top: 38px;
}
.footer-company{
	margin-top: 31px;
}
footer h5{

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 41px;
	/* identical to box height */


	color: #FFFFFF;
}
footer p{
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 33px;
	/* identical to box height */


	color: #FFFFFF;

}
footer img {
	padding: 5px;
}

.flex-me{
	display: flex;
	justify-content:center;

	
	}
.flex-me-label {
	display: flex;
	justify-content:flex-start;
	margin-left: 1rem;

	
	}
.flex-me-label div> span {
	margin-right: 6rem;

}
.addto-cart div{
	position: relative;
	margin-right: 3rem;
	float: right;
	
}
.checkout {
	position: relative;
	margin-right: 1rem;
	padding-right: 1rem;
	margin-bottom: 4em;
	float: right;
	
	}
.form_input >input {
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: 1rem;
}
.form_input >select {
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: 1rem;
}
.order_form{
	position: absolute;
	width: 680px;

	/* height: 100%; */

	left: 196px;
	top: 77px;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(45, 156, 219, 0.15);
}
.order_form_inner{
	margin-top: 5rem;
	margin-left: 3rem;
	margin-right: 0.014rem;
}
.fullname{
	width: 100% 
}
.form-margin{
	margin-left: 3rem;
	margin-right: 2rem;

}
.form-margin2{
	margin-left: 3rem;
	margin-right: 2rem;

}

/*start of signup checkbox customization */
.container {
  display: block;
  margin-top: 2rem;
  position: relative;
  padding-left: 35px;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
/* identical to box height */


color: #000000;


}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 3px;
  margin-bottom: 5px;
  height: 25px;
  width: 29px;
  background: #FFFFFF;
  border: 1px solid #151D26;
  box-sizing: border-box;

}
.checkmarkSibling {
  
  margin-right: 3px;
  margin-bottom: 5px;
 

}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #151D26;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container .checkmark{
	margin-bottom: 5px;
	margin-right: 5px;
}
/*end of signup checkbox customization */
.margin-bottom{
	margin-bottom: 1rem;
}
/* place order page sign up style*/
.place-order-signup{
	width: 13em;
	margin-top: 5px;
	margin-bottom: 5px;

}
.place-order-signup-btn{
	margin-left: 10.6em;
	margin-bottom: 1em;

}
.haykpo-btn{
	background-color: #151D26;
	color: #ffffff;
	border-radius: 5px;
}
.padit{
	padding-left: 2rem;
	color: #151D26;
	background-color: #fff;
	text-align: center;
}
.padit h2{
	color: #151D26;
}
.paybg{
	background-color: #d3d4d6;
}


@media screen and (max-width: 440px){
	.nav-bg{
		position:absolute;
		background-color: #212529;
		z-index: 3;
	}
	.customer-signin{
		background-color: inherit;
		border-radius: 0px;
		border:none;
	}
	.partner-signin{
		background-color: inherit;
		border-radius: 0px;
		border:none;
	}
	.mobile-nav-style{
		border-bottom:1px solid #fff;
    	padding:5px;
    	margin:2px;
    	color: #fff;

	}
	.mobile-confidencetxt{
		color: #fff;
	}
	.confidencetxt{
	
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 109px;
	text-transform: uppercase;

	}
	a { color: #fff; }

	.order_form{
	position: relative;
	width: 360px;

	/* height: 100%; */
	color: #212529;

	left: 6px;
	top: 7px;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(45, 156, 219, 0.15);
}
}
@media only screen and (max-width: 420px){
	
.header{

    
    width: 100%;
	position:relative;
	display: flex;
	flex-direction: column;
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);


	
	}
.content{
	width: calc(100%);
	height: 100%;
	background:#fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 5em;

	
}

.image-box{

	width: calc(100%);
	height: 90%;
	background:#212529;
	box-sizing: border-box;
	

}

.image-box>img {

	transform: translateX(-6em) scale(0.6);
	max-width: fit-content;
	height: auto;
	
}
.confidencetxt{
	text-align: center;
	}
	
	.getfueltxt{
		text-align: center;
		display: block;

	}

	
}

.navLinkBg1{
		background-color: #212529;
		border-radius: 5px;
		border-style: solid 1px;
		border-color: #fff;
		color: #fff;

}
.navLinkBg2{
		background-color: #fff;
		border-radius: 5px;
		border-style:  1px solid;
		border-color: #fff;
		color: #212529;
		
}
a { color: #212529; }
a.white{
	color: #fff;
}
.navIcon{
	color:#212529; font-size:28px;
	
}

.smallMargin{
	margin-left: 1rem;

}
.btn.smallMarginRight{
	margin-right: 5px;

}
.footerTop{
	margin-top: 4rem;
	background-color: #212529;
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.backToHome{
	margin-top: 10px;
}
span.getHistory{
	padding-left: 15px;
}
.order-success{
	background: green;
	color: #fff;

}
.order-fail{
	background-color: red;
	color: #fff;
}

.order-summary{
	display: flex;
	justify-content: space-around;
	color: #212529;

	margin-top: 5px;
	border-bottom: 1px solid #dee2e6;
	
	
}
.order-summary h3{
	font-size: small;
	color: #212529;
	
}
.btn{
	margin-bottom: 5px;
}
.moveleft{

	display: flex;
	justify-content: flex-end;
	padding-right: 1rem;
}
.leftpadp{
	padding-left: 1em;
}

.formerworking{
	
.header{

    height:90vh ;
    width: 100%;
	position:relative;
	display: flex;
	transform: translate(100px,0px);
	margin-bottom:5px;
	
	}
.content{
	width: calc(50%);
	height: 100%;
	background:#fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	
}

.image-box{
	width: calc(50% + 50px);
	height: 100%;
	background:#212529;
	box-sizing: border-box;
	border-left: 20em solid #fff;
	border-bottom: 30em solid transparent;
}

.image-box >img {

	transform: translate(-20em,0px) ;
}

}

